<div *ngIf="task">
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Task</h5>
    </div>
    <div class="modal-body">
      <label>Name: </label>
      <input class="form-control" [(ngModel)]="task.name" type="text">
      <br>
      <label>Priority: </label>
      <br>
      <ngb-rating [(rate)]="task.priority" max="3"></ngb-rating>
      <br>
      <br>
      <label>Deadline: </label>
      <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="task.deadline" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
      </div>
      <br>
      <label>Created on: </label> {{task.created | date:'yyyy-MM-dd HH:mm'}}
    </div>
    <div class="modal-footer">
        <button type="button" (click)="updateTask(task)" data-dismiss="modal" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
</div>
</div>


