<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
</head>

<body>
  <br>
  <br>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a data-toggle="modal" data-target="#addModal" class="nav-link active" href="#">Add <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Task List</h3>
    </div>
    
    <app-task-list></app-task-list>
    <app-add-task></app-add-task>
  </div>
</body>

</html>
